In [7]:
import numpy as np
import pandas as pd

In [ ]:
"""
What is the difference between join and merge in Pandas?

Pandas provide various facilities for easily combining Series or DataFrame 
with various kinds of set logic for the indexes and relational algebra 
functionality in the case of join / merge-type operations. 

Both join and merge can be used to combines two dataframes but the join method combines
two dataframes on the basis of their indexes whereas the merge method is more versatile
and allows us to specify columns beside the index to join on for both dataframes.
"""

## concat()

In [3]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']}
                        )
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']}
                         )
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']}
                        )

In [4]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [5]:
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [6]:
df3

     A    B    C    D
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [8]:
# concat()  içerisine benden iterable istiyor.

pd.concat([df1, df2, df3])


# sabit sütunları hafızasında tuttu, satırları alt alta birleştirdi.
# defatult olarak axis = 0 dır. axis=0 demek satırların üstünde çalışmak, satırlarla çalışmak demek.
# indeksler de değişmiyor, olduğu gibi dataframeslerden alıyor.

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [9]:
# indeksleri düzeltmek istersek..

# concat'ın özelliğini kullanırsak

pd.concat([df1, df2, df3], ignore_index = True)

# dataframe'lerin indekslerini ignore etti. kendi 0 dan başlayan indeskler verdi.

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [10]:
pd.concat([df1, df2, df3], axis = 1)

# sütun bazında çalıştık.
# indeks numaraları aynı olduğu için sorun olmadı, hepsini yan yana (sütun sütun) birleştirdi.

    A   B   C   D   A   B   C   D    A    B    C    D
0  A0  B0  C0  D0  A4  B4  C4  D4   A8   B8   C8   D8
1  A1  B1  C1  D1  A5  B5  C5  D5   A9   B9   C9   D9
2  A2  B2  C2  D2  A6  B6  C6  D6  A10  B10  C10  D10
3  A3  B3  C3  D3  A7  B7  C7  D7  A11  B11  C11  D11

In [11]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0,1,2,3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                        index=[4,5,6,7]) 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8,9,10,11])

In [12]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [13]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [14]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [15]:
pd.concat([df1, df2, df3], axis = 1)

# indeks numaraları ne ise o satırlar değer alıyor.
# mesela df3 --> 8,9,10 ve 11. indeksler satırlarına denk geliyor. diğer valueları o yüzden NaN
# merge ettiğinde bir satır herhangi bir değer sağlamıyorsa ona NaN değer gelir.

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [75]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0,1,8,3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                        index=[0,1,2,3]) 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[0,1,2,3])

In [76]:
pd.concat([df1, df2, df3], axis = 1)

     A    B    C    D    A    B    C    D    A    B    C    D
0   A0   B0   C0   D0   A4   B4   C4   D4   A8   B8   C8   D8
1   A1   B1   C1   D1   A5   B5   C5   D5   A9   B9   C9   D9
2  NaN  NaN  NaN  NaN   A6   B6   C6   D6  A10  B10  C10  D10
3   A3   B3   C3   D3   A7   B7   C7   D7  A11  B11  C11  D11
8   A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [77]:
pd.concat([df1, df2, df3], axis = 1, ignore_index=True)

# axis=1 den dolayı sütunlarda çalıştığımız için ignore_index sütun indeksine uygulanıyor

    0    1    2    3    4    5    6    7    8    9    10   11
0   A0   B0   C0   D0   A4   B4   C4   D4   A8   B8   C8   D8
1   A1   B1   C1   D1   A5   B5   C5   D5   A9   B9   C9   D9
2  NaN  NaN  NaN  NaN   A6   B6   C6   D6  A10  B10  C10  D10
3   A3   B3   C3   D3   A7   B7   C7   D7  A11  B11  C11  D11
8   A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

## .merge()

Ortak bir sütun varsa, o ortak sütun üzerine ( on = "column_name" yaparak) iki dataframe'i merge ile birleştirebiliyoruz.
Ortak sütun yoksa left on, right on ile birleştiriyoruz.

In [17]:

left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [18]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [19]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [20]:
pd.merge(left, right, how = 'inner', on = 'key')

# "key" sütunu üzerinde join yaptık. 
# key" sütununun değerleri aynı olduğu için sorunsuz birleştirdi.

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [80]:

left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'D': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'key': ['K0', 'K1', 'K2', 'K3']})

In [81]:
pd.merge(left, right, how = 'inner', on = 'key')

# referans aldığımız key sütununun right dataframe'inde yerini değiştirdim. artık ilk sırada değil.
# fakat ortak sütun olduğu için sonuçta yine key'i  başa aldı, diğer sütunları sıraladı.

  key   A   B   D   C
0  K0  A0  B0  K0  C0
1  K1  A1  B1  K1  C1
2  K2  A2  B2  K2  C2
3  K3  A3  B3  K3  C3

In [94]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                     'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [95]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [96]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [97]:
pd.merge(left, right, how = 'inner', on = 'key')

# inner ile merge ederken SATIRLARIN kesişim kümesi alındığı için ortak olan "key" satırları birleştirildi.

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

In [98]:
pd.merge(left, right, how = "outer", on = "key")

# outer ile merge ederken SATIRLARIN birleşim kümelerini aldığı için key sütununun tüm satırlarını aldı.
# right dataframeinde K3 satırının elemanları C ve D sütunları için değer üretmiş. 
# A ve B sütunlarında yani left dataframe'de K3 satırı olmadığı için buralara NaN değer atıyor.

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2   A2   B2  C2  D2
3  K3  NaN  NaN  C3  D3

In [26]:
pd.merge(left, right, how = "left", on = "key" )

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

In [27]:
pd.merge(left, right, how = "right", on = "key" )

# right ile merge ettiğimizde, right ta K3 satırı olduğu için ve right üzerine birleştirme yaptığı için
# K3'ü de aldı. fakat left dataframe deki A ve B de K3 değerleri olmadığı için buralara NaN değer atandı.

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2   A2   B2  C2  D2
3  K3  NaN  NaN  C3  D3

In [28]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K4', 'K5'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [29]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K4  A2  B2
3  K5  A3  B3

In [30]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [31]:
pd.merge(left, right, how = "inner", on = "key")

# inner, (satırların) kesişim kümesini aldığı için yalnızca ortak satır olan K0 ve K1'i aldı. K2 ve K3 ü almadı.

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1

In [32]:
pd.merge(left, right, how = "outer", on = "key")

# outer, (satırların) birleşim kümesini aldığı için, tüm K ları aldı. 
# fakat dataframe'lerin sütunlardan ilgili K'larda değeri olmayan satırlara NaN değer atadı.

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K4   A2   B2  NaN  NaN
3  K5   A3   B3  NaN  NaN
4  K2  NaN  NaN   C2   D2
5  K3  NaN  NaN   C3   D3

In [33]:
pd.merge(left, right, how = "left", on = "key")

# how = left dediğim için left'in key sütununu baz alıyoruz (yani K0,K1,K4,K5'i) 
# o yüzden (right dataframe'in) K4 ve K5 e denk gelen  C ve D sütununda değer olmadığı için buralara NaN değer atadı.

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K4  A2  B2  NaN  NaN
3  K5  A3  B3  NaN  NaN

In [35]:
pd.merge(left, right, how = "right", on = "key")

# how = right dediğim için right'ın key sütununu baz alıyoruz (yani K0,K1,K2,K3'ü) 
# o yüzden K2 ve K3 e denk gelen A ve B sütununda değer olmadığı için buralara NaN değer atadı.

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K2  NaN  NaN  C2  D2
3  K3  NaN  NaN  C3  D3

In [36]:
left1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
right1 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [37]:
left1

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [39]:
right1

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [40]:
pd.merge(left1, right1, on = ["key1", "key2"])

# how parametresine değer girmediğim için default olarak "inner" (ortak kesişim) olacak.

# her iki dataframe de key1 ve key2 ortak olan şunlar var :(K0-K0 ve K1-K0). o zaman inner sadece bu satırları alacak.
# dataframeler incelediğinde, left1 de mevcut olan 1 adet K0-K0 ve 1 adet K1-K0 satırlarını aldı.
# right1 de ise 1 adet K0-K0, 2 adet K1-K0 var.
# bu durumda yeni oluşacak (merge edilmiş) dataframe'in 2 adet K1-K0 satırı olacağından, 
   # left1 dataframe'in K1-K0'a denk gelen A2 B2 değerleri her iki satırda da yer alacaktır.

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [41]:
pd.merge(left1, right1, how = "outer", on = ["key1", "key2"])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

Merge edeceğin satır sütun ne ise, satır sütun ne ise olnlara karşılık gelen var ise yazılıyor yok ise NaN yazılıyor.

Merge edildiğinde aynı satırdan birden fazla var ise o satırdan tek değeri olan tekrar tekrar yazılır.

In [45]:
left1

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [46]:
right1

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [43]:
pd.merge(left1, right1, how = "right", on = ["key1", "key2"])

# how= right olduğu için right1'de olan tüm satırlar geliyor.
# dataframe lerde karşılığı olan oraya geliyor, karşılığı olmayan yerine NaN geliyor.

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [42]:
pd.merge(left1, right1, how = "left", on = ["key1", "key2"])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

In [47]:
df11 = pd.DataFrame({'lkey': ['x', 'y', 'z', 'x', 'z'],
                    'lvalue': [2, 3, 5, 7, 0]})
df12 = pd.DataFrame({'rkey': ['a', 'x', 'z', 'b'],
                    'rvalue': [7, 8, 9, 10]})

# DİKKAT: ortak sütun isimleri yok!!

In [48]:
df11

  lkey  lvalue
0    x       2
1    y       3
2    z       5
3    x       7
4    z       0

In [49]:
df12

  rkey  rvalue
0    a       7
1    x       8
2    z       9
3    b      10

In [ ]:
# ortak isimli hiç bir sütun yok! 
# left'i lkey üstüne, right'ı rkey üzerine baz alın dersek.

In [50]:
pd.merge(df11, df12, left_on = "lkey", right_on = "rkey", how = "outer")

# önce lkey'i baz alıp df11 ve df12 framelerinde o satırların karşılığı olan değerleri çekip yazıyorum.
#

  lkey  lvalue rkey  rvalue
0    x     2.0    x     8.0
1    x     7.0    x     8.0
2    y     3.0  NaN     NaN
3    z     5.0    z     9.0
4    z     0.0    z     9.0
5  NaN     NaN    a     7.0
6  NaN     NaN    b    10.0

In [51]:
pd.merge(df11, df12, left_on = "lkey", right_on = "rkey", how = "left")

# merge'i left (sol dataframe) üzerine yapıyoruz.(x,y,z,x,z'yi aynen aldık. üzerine diğer verileri getirdik.)

  lkey  lvalue rkey  rvalue
0    x       2    x     8.0
1    y       3  NaN     NaN
2    z       5    z     9.0
3    x       7    x     8.0
4    z       0    z     9.0

In [52]:
pd.merge(df11, df12, left_on = "lkey", right_on = "rkey", how = "right")

# merge'i right (sağ dataframe) üzerine yapıyoruz. üzerine diğer verileri getirdik.
# tekrar edenler olduğu için satır sayımız arttı.

  lkey  lvalue rkey  rvalue
0  NaN     NaN    a       7
1    x     2.0    x       8
2    x     7.0    x       8
3    z     5.0    z       9
4    z     0.0    z       9
5  NaN     NaN    b      10

In [53]:
df111 = pd.DataFrame({'lkey': ['x', 'y', 'z', 'x'],
                    'lvalue': [2, 3, 5, 7]})
df121 = pd.DataFrame({'rkey': ['a', 'b', 'c', 'b'],
                    'rvalue': [7, 8, 9, 10]})

In [54]:
df111

  lkey  lvalue
0    x       2
1    y       3
2    z       5
3    x       7

In [55]:
df121

  rkey  rvalue
0    a       7
1    b       8
2    c       9
3    b      10

In [ ]:
pd.merge(df111, df121, left_on="lkey", right_on = "rkey")

# bunun default'u inner olduğu için ve o da kesişim kümesini alacağı için sonuç boş dataframe olur.
# çünkü ortak satırları yok.

In [56]:
pd.merge(df111, df121, left_on="lkey", right_on = "rkey", how = "outer")

  lkey  lvalue rkey  rvalue
0    x     2.0  NaN     NaN
1    x     7.0  NaN     NaN
2    y     3.0  NaN     NaN
3    z     5.0  NaN     NaN
4  NaN     NaN    a     7.0
5  NaN     NaN    b     8.0
6  NaN     NaN    b    10.0
7  NaN     NaN    c     9.0

In [ ]:
pd.merge(df111, df121, left_on="lkey", right_on = "rkey", how = "left")

# left'i baz alıyoruz. left'in satırlarından right'ta hiç ortak satır olmadığı için oralarda hiç bir değer dönmez. hepsi NaN olur

In [57]:
pd.merge(df111, df121, left_on="lkey", right_on = "rkey", how = "right")

# right'ı baz alıyoruz. right'ın satırlarından left'te hiç ortak satır olmadığı için oralarda hiç bir değer dönmez. hepsi NaN olur

  lkey  lvalue rkey  rvalue
0  NaN     NaN    a       7
1  NaN     NaN    b       8
2  NaN     NaN    c       9
3  NaN     NaN    b      10

## join

In [58]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index = ['K0', 'K1', 'K2']) 
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index = ['K0', 'K2', 'K3'])

In [60]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [61]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

join, indeksler üzerinden genelde işlem yapar
indeks bazında işlem yapacağımız zaman aklına hemen join gelsin
diğerlerinden farklı olarak join, dataframe'in fonksiyonudur.

In [59]:
left.join(right)

# left'i baz alır (left'in indekslerini (K0, K1,K2)) üstüne right'ı join eder!

# Default olarak How = left olduğunu unutma! bu yüzden sadece soldaki frame'in satırlarını aldı

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [62]:
left.join(right, how = "outer")

# outer olduğu için tüm indeksleri alacak. bunların karşılığı olan değerler varsa yazacak yoksa NaN atayacak.

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [63]:
left.join(right, how = "inner")

# indekslerin kesişim kümesinde sadece K0 ve K2 var. onların karşılıklarına göre işlem yapacak.

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

In [64]:
df = pd.DataFrame({'key': ['K0', 'K2', 'K3', 'K4', 'K5', 'K6'],
                   'X': ['X0', 'X2', 'X3', 'X4', 'X5', 'X6']})
df

  key   X
0  K0  X0
1  K2  X2
2  K3  X3
3  K4  X4
4  K5  X5
5  K6  X6

In [65]:
other = pd.DataFrame({'key': ['K0', 'K2', 'K3'],
                      'Y': ['Y0', 'Y2', 'Y3']})
other

  key   Y
0  K0  Y0
1  K2  Y2
2  K3  Y3

In [66]:
df.join(other)

# how'ın defaultu left'tir. buna dikkat et.
# join'de ortak column name varsa suffix vermemiz gerekiyor. suffix vermezsek hata verir.
# burada key isminde ortak sütun var!! bu yüzden join'de bu sütunları bölüştürmen lazım!

ValueError: columns overlap but no suffix specified: Index(['key'], dtype='object')

In [67]:
df.join(other, lsuffix = "_left", rsuffix = "_right")

# şimdi key sütunu 2'ye dağıldı.

# defaultu left olduğu için leftler aynen geldi. ama right tarafında karşılığı olmayan değerlere NaN geldi

  key_left   X key_right    Y
0       K0  X0        K0   Y0
1       K2  X2        K2   Y2
2       K3  X3        K3   Y3
3       K4  X4       NaN  NaN
4       K5  X5       NaN  NaN
5       K6  X6       NaN  NaN

In [68]:
# bu iki dataframe'i suffix kullanmadan nasıl join ederim?

# set_index yaparak key sütunlarını index haline getirir ondan sonra join ederim. (artık aynı isimli sütun olmaz)

df.set_index("key")

      X
key
K0   X0
K2   X2
K3   X3
K4   X4
K5   X5
K6   X6

In [69]:
other.set_index("key")

      Y
key
K0   Y0
K2   Y2
K3   Y3

In [70]:
df.set_index("key").join(other.set_index("key"))

# join satırlar üzerinde işlem yaptığı için tüm indeksleri alt alta ekledi.

      X    Y
key
K0   X0   Y0
K2   X2   Y2
K3   X3   Y3
K4   X4  NaN
K5   X5  NaN
K6   X6  NaN

In [71]:
df.join(other.set_index("key"), on = "key")

# on="key" dediğim için df'teki key ler üzerine bina ettim.

  key   X    Y
0  K0  X0   Y0
1  K2  X2   Y2
2  K3  X3   Y3
3  K4  X4  NaN
4  K5  X5  NaN
5  K6  X6  NaN

eğer ortak sütun ismi varsa :

son ek ile (suffix)
her ikisi ortak sütunu indekse dönüştür
left'i olduğu gibi bırakıp sadece right'ı indekse dönüştür (on = "key")