# Numpy

In [1]:
import numpy as np

In [ ]:
mylist = [1, 2, 3]
myarr = np.array(mylist)
myarr = np.array([1, 2, 3])

my_matrix = [[1,2,3], [4,5,6], [7,8,9]]
np.array(my_matrix)
np.array([[1,2,3], [4,5,6],[7,8,9]])

np.arange(0, 10)

np.arange(0 , 11, 2) 
np.arange(30, 0, -1)

np.zeros(10)

np.zeros((3,3))

np.zeros((3,3), dtype=bool)

np.ones(10, dtype=int)

np.ones((10,10), dtype=bool)

np.full((3,5),3)
np.full((4,4), "3")

np.linspace(0, 10, 3)  # 0 to 10 with 3 steps

np.linspace(0,10)  # default 50 steps

np.linspace(0, 50, 10, dtype='int')

np.eye(5)

np.random.rand(10) # 10 random numbers, each 0 to 1  

np.random.rand(5,5)

pip install matplotlib
import matplotlib.pyplot as plt

plt.hist(np.random.rand(10000),bins=40)

np.random.randn(10) # numbers which mean=0

np.random.randn(5,5)

np.random.randn(10000).mean() --> 0.0000123

np.random.randint(0, 100, 10)  # random 10 numbers between 0 to 100 

np.random.randint(10, size=10) # random 10 numbers (size 100 to 10

a.shape

a.sort()
np.sort(a)

# SERIES

In [2]:
import numpy as np
import pandas as pd

In [ ]:
# help(pd.Series)

In [ ]:
myser = pd.Series(data = mydata, index=myindex)

ages = {'Sam':5, 'Frank':10, 'Spike':7}
pd.Series(ages)

q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

sales_q1['Japan']

sales_q1[0]

sales_q1.keys()

sales_q1 * 2

sales_q1 / 100

sales_q1 + sales_q2

sales_q1.add(sales_q2, fill_value = 0) # float

sales_q1.dtype

# DATA FRAMES

### creating a dataframe

In [ ]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))
myindex = ['CA', 'NY', 'AZ', 'TX']
mycolumns = ['Jan', 'Fab', 'Mar']
df = pd.DataFrame(data = mydata, index = myindex, columns = mycolumns)

df = pd.read_csv('tips.csv')

df = pd.read_csv('C:\\Users\\hüseyin\\tips.csv')

import matplotlib.pyplot as plt
import seaborn as sns
df=sns.load_dataset("tips")

### basic properties

In [ ]:
.info()

.columns

.index

.shape

.head()  / df.head(10)

.tail()  / df.tail(2)

.ndim()

.get_dummies()

.groupby()

.size()

.values()

.loc()

.iloc()

.xs()

.drop()

.dropna()

.join()

.merge()

.concat()

.describe()

.describe().

.transpose()  / .T

### working with columns

In [ ]:
df['total_bill']

mycols = ['total_bill', 'tip'] / df[['total_bill', 'tip']]

df['tip'] + df['total_bill'] 

df['tip'] / df['total_bill']

# CREATE NEW COLUMN:

df['tip_percentage'] = 100 * df['tip'] / df['total_bill'], inplace = True

df['price_per_person'] = df['total_bill'] / df['size']

np.round(df['total_bill'] / df['size'], 2)

df['price_per_person'] = np.round(df['total_bill'] / df['size'], 2)

# DROP COLUMN

df.drop('tip_percentage', axis = 1) 

df = df.drop('tip_percentage', axis = 1)  / df.drop('tip_percentage', axis = 1, inplace = True)

### working with rows

In [ ]:
df.index

df.set_index("Payment ID")

df.reset_index()

df.iloc[0]

df.iloc[0:4]

df.loc['Sun2959']

df.loc[['Sun2959', 'Sun5260']]

df.drop('Sun2959', axis = 0)

one_row = df.iloc[0]
df = df.append(one_row)

### conditional filtering

In [ ]:
df['total_bill'] > 40

type(df['total_bill'] > 40)  # series

bool_series = df['total_bill'] > 40
df[bool_series]  ==  df[df['total_bill'] > 40]

df[df['sex'] == "Male"]

df[df['size'] > 3]

df[(df['total_bill'] > 30) & (df['sex'] == "Male")]  # and

df[(df['day'] == 'Sun') | (df['day'] == "Sat")]  # or

options = ['Sat', 'Sun']

.isin

df['day'].isin(options)  # boolean
df[df['day'].isin(options)]  # dataframe

### usefull methods

In [ ]:
def last_four(num) :
    return str(num)[-4:]
last_four(123456789) # 6789
df['CC Number'].apply(last_four)
df['last_four'] = df['CC Number'].apply(last_four) # new column

.mean()

df['total_bill'].mean()

.apply()

def simple(num) :
    return num * 2
df['total_bill'].apply(simple)

df['total_bill'].apply(lambda num : num * 2)

.apply(lambda......)

def quality(total_bill, tip) :
    if tip / total_bill > 0.25:
        return "Generous"
    else : 
        return "Other"
df[['total_bill', 'tip']].apply(lambda df : quality(df['total_bill'], df['tip']), axis = 1)
df['Quality'] = df[['total_bill', 'tip']].apply(lambda df : quality(df['total_bill'], df['tip']), axis = 1)

df['Quality'] = np.vectorize(quality)(df['total_bill'], df['tip'])  # the same result with "vectorize" method

### Usefull methods-Statistical Information and Sorting

.max()       .idxmax()     .min()     .idxmin()

.iloc[]      .corr()      .unique()    .value_counts()

.replace()   .map()    .dublicated()   .drop_dublicates()

.between()   .nlargest()   .sort_values   .sample()

In [ ]:
df.sort_values('tip', ascending = False)  # default--> True

df.sort_values(['tip','size'])

df['total_bill'].max()

df['total_bill'].idxmax()  # --> 170
df.iloc[170]  # see the values of the row 170

df['total_bill'].min()

df['total_bill'].idxmin()
df.iloc[67]  /  df.iloc[df['total_bill'].idxmin()]

df.corr()

df['day'].unique()   # len(df['day'].unique())

df['day'].value_counts()

df['sex'].replace(['Female', 'Male'], ['F', 'M'])

mymap = {'Female': 'F', 'Male': 'M'}
df['sex'].map(mymap)   # the same result with "map" method

df.duplicated()  # boolean

df.drop_duplicates()

df['total_bill'].between(10, 20, inclusive = True)  # boolean

df.nlargest(5, 'tip')  # Return the first `n` rows ordered by `columns` in descending order

df.sort_values('tip', ascending = False).iloc[0:5]

df.sample(5)

df.sample(frac = 0.1) # Fraction of axis items to return. Cannot be used with `n`

### groupby operations

In [ ]:
df['model_year'].unique()  # see the unique of model years
df['model_year'].value_counts()  # see the count of the cars by their model year

df.groupby('model_year')  # still waiting to perform future calculations from the aggregate method.

df.groupby('model_year').mean()  # now model_year is an index label

df.groupby('model_year').mean()['mpg']

df.groupby(['model_year', 'cylinders']).mean()

df.groupby(['model_year', 'cylinders']).mean().columns

df.groupby(['model_year', 'cylinders']).mean().index

df.groupby('model_year').describe()

df.groupby('model_year').describe().transpose()  / df.groupby('model_year').describe().T

year_cyl = df.groupby(['model_year', 'cylinders']).mean()  # see the notebook named "DS_01_03_PreClass - Pandas2 - Usefull Methods"
year_cyl.index.names
year_cyl.index.levels 
year_cyl.loc[70]
year_cyl.loc[[70, 82]]
year_cyl.index
year_cyl.loc[(70, 4)]

year_cyl.xs(key=70, level = 'model_year') # cross section

df[df['cylinders'].isin([6,8])]
df[df['cylinders'].isin([6,8])].groupby(['model_year', 'cylinders']).mean() # filtering + groupby

year_cyl.swaplevel()

year_cyl.sort_index(level='model_year', ascending=False)

df.agg(['std', 'mean'], axis=0)
df.agg(['std', 'mean'], axis=0)['mpg']
df.agg({'mpg':['max', 'mean'], 'weight':['max', 'mean']})

### missing data

np.nan       pd.NA       pd.NaT

.isin       .isnull      .notnull    

.dropna    .fillna      .interpolate()

In [ ]:
np.nan

pd.NA  # NA ("not available") missing value indicator.

pd.NaT # # (N)ot-(A)-(T)ime, the time equivalent of NaN

df.isnull() # boolean

df['pre_movie_score'].isnull()
df[df['pre_movie_score'].isnull()]

df.notnull()

df['pre_movie_score'].notnull()
df[df['pre_movie_score'].notnull()]

df[(df['pre_movie_score'].isnull()) & (df['first_name'].notnull())]

df.dropna()

df.dropna(thresh = 4)

df.dropna(axis=1)

df.dropna(axis = 0)

df.dropna(subset = ['last_name'])

df.fillna('NEW VALUE!')

df['pre_movie_score'].fillna(0)
df['pre_movie_score'] = df['pre_movie_score'].fillna(0)

df['pre_movie_score'].mean()
df['pre_movie_score'] = df['pre_movie_score'].mean()

df['pre_movie_score'].fillna(df['pre_movie_score'].mean())

df.fillna(df.mean())

airline_tix = {'first':100, 'business':np.nan, 'economy-plus':50, 'economy':30}
ser = pd.Series(airline_tix)
ser.interpolate()  #  Fill NaN values using an interpolation method.

### Merging Joining and Concatenating

In [ ]:
pd.concat([one, two], axis=1)  # one and two are 2 dataframes

pd.concat([one, two], axis=0)

two.columns = one.columns
pd.concat([one, two], axis = 0)

mydf = pd.concat([one, two], axis = 0)
mydf.index = range(len(mydf))

help(pd.merge)

pd.merge(registrations, logins, how='inner', on='name') 
pd.merge(logins, registrations,  how='inner', on='name')

pd.merge(left=registrations, right=logins, how='left', on='name')

pd.merge(left=registrations, right=logins, how='right', on='name')

pd.merge(registrations, logins, how='outer', on='name')
pd.merge(logins, registrations, how='outer', on='name')

pd.merge(registrations, logins, left_index=True, right_on='name', how='inner')
pd.merge(registrations, logins, how='inner', left_on='reg_name', right_on='name')
pd.merge(registrations, logins, how='inner', on='name') # when the names are the same
pd.merge(registrations, logins, how='inner', on='name', suffixes=('_reg', '_log'))  # add suffixes if the columns other than the 'name' are the same

### Text methods for string data

In [ ]:
tech_finance = ['GOOG, APPL, AMZN', 'JPM,BAC,GS']
tickers = pd.Series(tech_finance)

tickers.str.split(',')

tickers.str.split(',', expand = True)

messy_names = pd.Series(['andrew  ', "bo;bo", "   claire   "])

messy_names.str.replace(';', '').str.strip().str.capitalize()

def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return nam

messy_names.apply(cleanup)

### Time Methods for Date and Time Data

In [ ]:
from datetime import datetime

myyear = 2015
mymonth = 1
myday = 1
myhour = 2
mymin = 30
mysec = 15
mydate = datetime(myyear, mymonth, myday)

mydatetime = datetime(myyear, mymonth, myday, myhour, mymin, mysec)

mydatetime.year

myser = pd.Series(['Nov 3, 1990', '2000-01-01', None])
pd.to_datetime(myser)

timeser = pd.to_datetime(myser)

timeser[0].year

obvi_euro_date = '31-12-2000'
pd.to_datetime(obvi_euro_date)

euro_date = '10-12-2000'
pd.to_datetime(euro_date, dayfirst=True) # default False

style_date = '12--Dec--2000'
pd.to_datetime(style_date, format='%d--%b--%Y')

custom_date = '12th of Dec 2000'
pd.to_datetime(custom_date)


sales = pd.read_csv('RetailSales_BeerWineLiquor.csv')
sales['DATE'] # see it's object type
sales['DATE'] = pd.to_datetime(sales['DATE'])

sales['DATE'][0].year

sales.resample(rule = "A").mean().head()
# TIMES SERIES OFFSET ALIASES--> https://pandas.pydata.org/pandas-doc

sales = pd.read_csv('RetailSales_BeerWineLiquor.csv', parse_dates = [0])
sales['DATE'].dt.month

### Pandas Input and Input Output to Files

In [ ]:
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html
Reader and Writer of CSV, HTML, Excel and SQL files

import os

os.getcwd() # output--> 'C:\\Users\\hüseyin'

df = pd.read_csv('example.csv')

df = pd.read_csv('example.csv', header = None)

df = pd.read_csv('example.csv', index_col = 0) # use the zero index column as my actual index in the data frame

df.to_csv('C:\\Users\\hüseyin\\newfile.csv', index = False) # default True

url = "https://en.wikipedia.org/wiki/World_population"
tables = pd.read_html(url)

url = "view-source_https___en.wikipedia.org_wiki_World_population_"
len(tables) # found 26 tables
tables[0]

world_topten = tables[0]
world_topten = world_topten["World population (millions, UN estimates)[15]"]
world_topten = world_topten.drop(11, axis = 0
world_topten.columns = ['Country', '2000', '2015', '2030 Est']
                                 
world_topten.to_html('sample_table.html', index = False)

df = pd.read_excel('example_excel_file.xlsx')

wb = pd.ExcelFile('example_excel_file.xlsx')                                
                                 
wb.sheet_names                                
                                 
excel_sheet_dict = pd.read_excel('example_excel_file.xlsx', sheet_name=None)
                                 
excel_sheet_dict['Sheet1']
                                 
excel_sheet_dict1 = pd.read_excel('example_excel_file.xlsx')                                
excel_sheet_dict2 = pd.read_excel('example_excel_file.xlsx', sheet_name=['Sheet1'])                                 
our_df = excel_sheet_dict2['Sheet1']                                 
                                 
pip install sqlalchemy
                                 
https://docs.sqlalchemy.org/en/14/dialects/                                 
                                 
from sqlalchemy import create_engine                                 
                                 
temp_db = create_engine('sqlite:///:memory:')    # it is just creates a temporary SQLite database inside of a computers RAM                              
                                 
pd.DataFrame(data=np.random.randint(low=0, high=100, size=(4,4)), columns = ['a', 'b', 'c', 'd'])                                 
                                 
df.to_sql(name = 'new_table', con=temp_db)                                 
df.to_sql(name = 'new_table', con=temp_db, if_exists='append')                                  
                                 
result = pd.read_sql_query(sql='SELECT Gender, Country FROM new_table', con=temp_db)

### Pivot Tables

### Statistics

In [ ]:
Q1 = df_table.quantile(0.25)
Q3 = df_table.quantile(0.75)
IQR = Q3-Q1

Q1,Q3 = np.percentile(df["table"],[25,75])
Q1, Q3